---
import Imgani from "@/components/aniversario/20th/img.astro";

---

<template>
  <div class="lg:flex lg:flex-col lg:fixed lg:left-0 lg:w-[20%] lg:h-[100%] lg:top-20">
    <ul class="bg-slate-50">
      <li><a href="#" class="block px-4 py-2 text-xl hover:bg-gray-700 hover:text-white">Home</a></li>
      <li><a href="#" class="block px-4 py-2 text-xl hover:bg-gray-700 hover:text-white">About</a></li>
      <li><a href="#" class="block px-4 py-2 text-xl hover:bg-gray-700 hover:text-white">Contact</a></li>
      <li><a href="#" class="block px-4 py-2 text-xl hover:bg-gray-700 hover:text-white">News</a></li>
    </ul>
  </div>
</template>

<style scoped>
@media (max-width: 1024px) {
  .lg\:fixed {
    position: relative;
  }
  .lg\:flex {
    display: block;
  }
}
</style>
