---
import Photo from "./inputs/inputphoto.astro";
import Date from "./inputs/inputsdate.astro";
import Number from "./inputs/inputsnumber.astro";
import Text from "./inputs/inputstext.astro";
import Select from "./select/select.astro";
import Celular from "./inputs/inputcelular.astro";
---

<form
  class='p-4 rounded-lg bg-white shadow-md dark:bg-gray-800'
>
  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <Text />
    <Celular />
    <Date />
    <Number />
    <Select />
    <Photo />
  </div>
  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >Guardar</button
  >
</form>


