---
import Layout from '@/layouts/Layout.astro';


import App from "@/components/ISA/deportivas/index";

---

<Layout title='Deportivas' >
    <main>


 <div >
    <App client:load/>
 </div>
 


    </main> 
</Layout>


<style>
	main {
		flex: 1;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
        gap: 1rem;
        overflow-y: auto;
	}


</style>