---
<<<<<<< HEAD
import Layout from '@/layouts/Layout.astro';




=======
import Layout from "@/layouts/Layout.astro";
>>>>>>> 94c3980592c27e552a50ae61e88ab462b39e9d44
---

<Layout title="Dia Tipico">
    <main>
        <div
            class="sm:h-full mx-4 py-6 sm:py-8 lg:py-12 flex items-center justify-center max-w-screen-lg"
        >
            <div
                class="h-full sm:h-auto flex flex-col gap-8 md:px-8 md:items-center md:justify-center shadow-lg
				border border-gray-200 dark:border-gray-800 rounded-lg bg-white dark:bg-gray-800 px-4 py-8"
            >
                <div class="flex text-center items-center justify-center">
                    <h2
                        class="text-xl md:text-3xl font-bold text-gray-800 dark:text-white text-pretty"
                    >
                        UN DIA TIPICO EN EL ISA
                    </h2>
                </div>
                <div class="grid grid-cols-1 gap-6 xl:gap-8">
                    <p
                        class="text-sm text-gray-800 lg:text-base dark:text-white"
                    >
                        El ISA era una institución de una férrea disciplina,
                        altos niveles de estudio y mucho trabajo. Si un
                        estudiante reprobaba una asignatura, se quedaba en su
                        casa. Se promovía de forma muy sutil la competencia sana
                        entre compañeros, tanto en lo académico como en lo
                        deportivo. Fueron 3 años de mucho trabajo, estudios y
                        disciplina.
                    </p>
                    <p
                        class="text-sm text-gray-800 lg:text-base dark:text-white"
                    >
                        Un día típico en el ISA se iniciaba alrededor de las
                        5:30 A.M. con el sonido de la famosa campana, se pasaba
                        lista y cada uno se enviaba a trabajar, supervisado por
                        profesores y estudiantes. Luego se desayunaba y
                        entrabamos a clases desde las 8:00 A.M. hasta las 12:00
                        M. había un descanso hasta las 2:00 P.M. y desde las
                        2:00 P.M. hasta las 5:00 P.M. se trabajaba en el campo,
                        había más clases o talleres. A las 5:00 P.M. algunos
                        debían volver a trabajar, hacer deportes o a otras
                        actividades.
                    </p>
                    <p
                        class="text-sm text-gray-800 lg:text-base dark:text-white"
                    >
                        Todo dependía del día de la semana. A las 7:00 P.M. era
                        la cena y desde las 8:00 P.M. hasta las 10:00 P.M.
                        estudios en la habitación. A las 10:30 P.M. todas las
                        luces debían estar apagadas y a dormir. Cualquier falta
                        se pagaba con trabajos en la finca y no salida a
                        Santiago los Domingos. <span class="font-semibold">
                            SIEMPRE BAJO EL LEMA:</span
                        >
                    </p>
                    <div
                        class="flex flex-col items-center md:flex-row gap-3 md:gap-6 justify-center dark:text-white mb-7 text-xs sm:text-lg text-pretty"
                    >
                        <span class="sm:font-semibold font-bold"
                            >A P R E N D E R &nbsp; P A R A &nbsp; S E R V I R</span
                        >
						<span class=" hidden sm:flex font-bold">
							-
						</span>
                        <span class="sm:font-semibold font-bold"
                            >S E R V I R &nbsp; P A R A &nbsp; C O N S T R U I R</span
                        >
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>

<style>
    main {
        flex: 1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        overflow-y: auto;
    }
</style>
