---
import Layout from '@/layouts/Layout.astro';
import Carousel from '@/components/Carrousel.astro';
---

<Layout title='Home'>
	<main class="">
		<div class="
			w-full
			h-full
		
		">
		<Carousel />
		</div>	

	</main>
</Layout>


<style>
	main {
		flex: 1;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}


</style>

