---
import Layout from "@/layouts/Layout.astro";
import CarouselFine from "@/components/Carousel/index.astro";
---

<Layout title="Inicio">
    <main >
        <div class="w-full h-full">
            <CarouselFine transition:name="Carousel" />
        </div>
    </main>
</Layout>

<style>
    main {
        flex: 1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
</style>
