---
    import {type dropDownOption} from '../../config/config'


    interface Props{
        id: string,
        dropDownOption: dropDownOption[]
    }

    const { dropDownOption, id } = Astro.props

---



<div id={id} class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg w-44 dark:bg-gray-700 dark:divide-gray-600 border-gray-300 dark:border-none shadow-sm border-2 ">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200 " aria-labelledby="dropdownLargeButton">
        {
            dropDownOption.map((item) => {
                return (
                    <li>
                        <a href={item.path}class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" >{item.name}</a>
                    </li>
                )
            })
        }
    </ul>
<!--     <div class="py-1">
      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
    </div> -->
</div>