---
import UserPlaceHolderImg from "@/assets/img/userPlaceHolder.jpg";
interface Props {
	title: string;
	body?: string;
	href: string;
	img?: string;
}

const { href, title, body, img } = Astro.props;
---

<a href={href} class="bg-white rounded-2xl shadow-2xl transition-transform duration-300 ease-in-out transform hover:scale-105 relative border-gray-200 dark:bg-gray-800 dark:border-gray-700 container justify-between text-center max-w-80 pb-6  ">
	<div
		  class="
		  flex flex-col items-center justify-center
		  max-h-96
		  gap-3
		  w-full
"
	  >
		  <div class="transform w-full overflow-hidden mb-3 rounded-t-2xl h-96 ">
			  <img
				  src={img || UserPlaceHolderImg.src}
				  alt={title}
				  class="object-cover object-center w-full h-full scale-105 transition-transform duration-300 ease-in-out transform hover:scale-105"
			  />
		  </div>
		  <span class=" font-bold dark:text-white text-gray-800 text-xl mb-2">
			  {title}
		  </span>
				  <p class="text-gray-700 dark:text-gray-300 text-base px-6 line-clamp-2 h-24 w-full
				  ">
					  {body || "No hay descripcion"}
				  </p>
		  <button class=" bg-blue-500 text-white px-4 py-2 rounded-md transition duration-300 ease-in-out transform hover:scale-105 hover:bg-blue-600 block mt-3  ">
				  Ver mas
			  </button>
	   
		 
	  </div>
	</a>
	