---

import { navbarOptionsani } from "../../../config/config";

---


<div class="grid grid-cols-3 gap-10">
    {navbarOptionsani
      .filter((option) => option.dropDown && option.dropDownOptionsani)
      .map((option) =>
        option.dropDownOptionsani.map((dropdownOptionani) => (
       <div class="bg-white p-6 rounded-2xl shadow-2xl transition-transform duration-300 ease-in-out transform hover:scale-105 rela border-gray-200 dark:bg-gray-800 dark:border-gray-700 container justify-between text-center">
   <div class="transform w-[200px] h-[110px] overflow-hidden rounded-3xl mb-3">
              <img
                src={dropdownOptionani.imageUrl} 
                alt={dropdownOptionani.name}
              />
            </div>
            <span class="text-sm font-bold dark:text-white">{dropdownOptionani.name}</span>
          
             <a href={dropdownOptionani.path} class="text-blue-600 text-sm hover:underline mt-4 block">
                <button  class="inline-block bg-blue-500 text-white px-4 py-2 rounded-md transition duration-300 ease-in-out transform hover:scale-105 hover:bg-blue-600"
>Ver mas</button>
            </a>
          </div>
        ))
      )}
  </div>
  
      
      
</div>
