---
import Layout from '../../layouts/Layout.astro';
import Userinput  from "@/components/user/index";
import MantenanceLayout from '@/components/user/MantenanceLayout'

const objXample = {
    
}

const messages = {
    delete: "¿Está seguro que desea eliminar este usuario?",
    pending: "Eliminando usuario...",
    success: "Usuario eliminado correctamente",
    error: "Error al eliminar el usuario"
}

import { getUsers } from '@/api/users';

const users = await getUsers();


console.log(users);

const headers = [
    
    { name: "IMG", key: 'img_url'},
    { name: 'Nombres', key: 'nombres' },
    { name: 'Apellidos', key: 'apellidos' },
    { name: 'Email', key: 'correo' },
    { name: 'Rol', key: 'rol' },
    { name: 'Sexo', key: 'sexo' },
]


const usersData = users.map((user) => {
    return {
        id: user._id,
        img_url: user?.foto?.img_url,
        nombres: user.nombres,
        apellidos: user.apellidos,
        correo: user.correo,
        rol: user.rol.nombre,
        sexo: user.sexo
    }
})


---

<Layout title='Mantenimiento Usuario'>
    <main>
        <MantenanceLayout 
            title="Mantenimiento de Usuario"
            headers={headers}
            data={usersData}
            messages={messages}
            client:load
            />
    
    </main> 
</Layout>


<style>
	main {
		flex: 1;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
        gap: 1rem;
        overflow-y: auto;;
	}

    dialog{
        overflow-y: auto;
    }

    dialog::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }
</style>